*
{
    font-family: BhrHeaderFont,Trebuchet MS,Arial,Helvetica,sans-serif;
}

body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#container
{
   min-height:100%;
   position:relative;
}

#title
{
    color: white;
    font-size: 40px;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #858585;
}

#main
{
    text-align: center;
    padding-bottom:60px;   /* Height of the footer */
}

#footer
{
    color: white;
    background-color: #858585;
    padding: 20px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

.button
{
    text-transform: uppercase;
    color: white;
    border: 2px solid;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 3px 5px #aaa;
}

.playButton
{
    background-color: #73c41d;
    border-color: #717171;
    padding: 25px 20px;
    width: 240px;
    font-size: 20px;
}

.playButton:hover
{
    background-color: #43940d;
}

.playButton:active
{
    background-color: #43940d;
    box-shadow: 1px 2px #999;
    transform: translate(2px,3px);
}

.continueButton
{
    background-color: #858585;
    border-color: #717171;
    padding: 10px 10px;
    width: 160px;
    font-size: 16px;
}

.continueButton:hover
{
    background-color: #454545;
}

.continueButton:active
{
    background-color: #454545;
    box-shadow: 1px 2px #999;
    transform: translate(2px,3px);
}

.salutation
{
    margin: auto;
    height: 80px;
    line-height: 80px;
    background-color: lightgray;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;    
}

#gameModeForm
{
    margin: auto;
    padding: 20px;
    color: #bbb;
    background-color: #858585;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;    
}

#gameModeForm label
{
    color: #fff;
}

.question
{
    margin: auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: lightgray;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;    
}

.score
{
    margin: auto;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: darkgray;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.beastMode
{
    font-style: italic;
    color: yellow;
    background-color: red;
    padding: 3px 12px;
}

.correct
{
    margin: auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: springgreen;
    font-size: 24px;   
    text-align: center;
    vertical-align: middle;
}

.incorrect
{
    margin: auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: lightcoral;
    font-size: 24px;    
    text-align: center;
    vertical-align: middle;
}
