:root
{
    /* Named colors, from Blackbird style guide - adjust palette here if needed. */
    --color-bbi-decal-grey: #231f20;
    --color-blackbird-grey: #616161;
    --color-bbi-asteroid-grey: #717075;
    --color-bbi-ion-blue: #aacce0;
    --color-bbi-long-march-orange: #ee7922;
    --color-bbi-baserunner-yellow: #f7c339;
    
    --color-green: #69d04a;
    --color-darkgreen: #29901a;
    --color-red: #db4640;

    --color-black: #000000;
    --color-dark-grey: #444444;
    --color-medium-grey: #aaaaaa;
    --color-light-grey: #cccccc;
    --color-white: #ffffff;
    
    --color-text: #ffffff;
}

*
{
    font-family: BhrHeaderFont,Trebuchet MS,Arial,Helvetica,sans-serif;
}

body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: var(--color-text);
    background-color: var(--color-bbi-asteroid-grey);
}

a
{
    color: var(--color-text);
    cursor: pointer;
    text-decoration: underline;
}

#container
{
   min-height:100%;
   position:relative;
}

#title
{
    color: var(--color-bbi-baserunner-yellow);
    background-color: var(--color-bbi-decal-grey);
    font-size: 40px;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
}

#main
{
    text-align: center;
    padding-bottom:60px;   /* Height of the footer */
}

#footer
{
    color: var(--color-text);
    background-color: var(--color-bbi-decal-grey);
    padding: 20px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

.button
{
    text-transform: uppercase;
    color: var(--color-text);
    border: 2px solid;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 3px 5px var(--color-blackbird-grey);
}

.playButton
{
    background-color: var(--color-green);
    border-color: var(--color-bbi-asteroid-grey);
    padding: 25px 20px;
    width: 240px;
    font-size: 20px;
}

.playButton:hover
{
    background-color: var(--color-darkgreen);
}

.playButton:active
{
    background-color: var(--color-darkgreen);
    box-shadow: 1px 2px var(--color-blackbird-grey);
    transform: translate(2px,3px);
}

.continueButton
{
    background-color: var(--color-light-grey);
    border-color: var(--color-blackbird-grey);
    padding: 10px 10px;
    width: 160px;
    font-size: 16px;
}

.continueButton:hover
{
    background-color: var(--color-medium-grey);
}

.continueButton:active
{
    background-color: var(--color-medium-grey);
    box-shadow: 1px 2px var(--color-blackbird-grey);
    transform: translate(2px,3px);
}

.salutation
{
    margin: auto;
    height: 80px;
    line-height: 80px;
    background-color: var(--color-bbi-long-march-orange);
    font-size: 32px;
    text-align: center;
    vertical-align: middle;    
}

#gameModeForm
{
    color: var(--color-text);
    margin: auto;
    padding: 20px;
    background-color: var(--color-bbi-asteroid-grey);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;    
}

#gameModeForm label
{
    color: var(--color-light-grey);
}

.question
{
    margin: auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--color-blackbird-grey);
    font-size: 24px;
    text-align: center;
    vertical-align: middle;    
}

.score
{
    margin: auto;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: var(--color-blackbird-grey);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.finalScore
{
    background-color: var(--color-bbi-long-march-orange);
    font-size: 20px;
}

.beastMode
{
    font-style: italic;
    color: var(--color-bbi-baserunner-yellow);
    background-color: var(--color-red);
    padding: 3px 12px;
}

.correct
{
    margin: auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--color-green);
    font-size: 24px;   
    text-align: center;
    vertical-align: middle;
}

.incorrect
{
    margin: auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--color-red);
    font-size: 24px;    
    text-align: center;
    vertical-align: middle;
}

.leaderboardTitle
{
    margin: auto;
    height: 40px;
    line-height: 40px;
    color: var(--color-blackbird-grey);
    background-color: var(--color-bbi-ion-blue);
    font-size: 28px;
    text-align: center;
    vertical-align: middle;    
}

.leaderboard
{
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th
{
    background-color: var(--color-green);
}

.leaderboard th, .leaderboard td
{
    border: 1px solid var(--color-bbi-ion-blue);
    margin: auto;
    padding: 2px 12px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    color: var(--color-dark-grey);
    text-align: center;
    vertical-align: middle;    
}

.leaderboard tr.even
{
    background-color: var(--color-light-grey);
}

.leaderboard tr.odd
{
    background-color: var(--color-white);
}

.leaderboard tr.self
{
    background-color: var(--color-bbi-baserunner-yellow);
}

/* from http://www.tipue.com/blog/radio-checkbox */
.form-radio
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: var(--color-light-grey);
    color: #666;
    top: 3px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 2px;
    margin-left: 12px;
    outline: none;
}
.form-radio:checked::before
{
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 6px;
    top: 3px;
    content: '\02143';
    transform: rotate(40deg);
}
.form-radio:hover
{
    background-color: var(--color-text);
}
.form-radio:checked
{
    background-color: var(--color-text);
}
